{% extends 'base.html' %}

{% block title %}Edit {{ user.full_name }}{% endblock %}

{% block content %}

<h1>Edit User</h1>
    <form action="{{ url_for('users_update', user_id=user.id) }}" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
        <br>
        <label for="image_url">Image URL:</label>
        <input type="text" name="image_url" id="image_url" value="{{ user.image_url }}">
        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock %}
