{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create a user</h1>
<form method="POST">

  <div class="form">
    <label for="first_name" class="form-label">First Name</label>
    <div class="user-name">
      <input type="text"
             class="form-control"
             id="first_name"
             name="first_name"
             placeholder="Enter a first name">
    </div>
  </div>

  <div class="form">
    <label for="last_name" class="form-label">Last Name</label>
    <div class="user-name">
      <input type="text"
             class="form-control"
             id="last_name"
             name="last_name"
             placeholder="Enter a last name">
    </div>
  </div>

  <div class="form">
    <label for="image_url" class="form-label">Image URL</label>
    <div class="user-name">
      <input type="text"
             class="form-control"
             id="image_url"
             name="image_url"
             placeholder="Provide an image of this user">
    </div>
  </div>

  <div class="form">
    <div class="add-btn">
      <button type="submit" class="btn">Add</button>
    </div>
  </div>

</form>

{% endblock %}