{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}
<h1>{{ user.full_name }}</h1>
<img src="{{ user.image_url }}" alt="User Image" class="img-thumbnail">
<ul>
  {% for post in user.posts %}
  <li>
    <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<a href="{{ url_for('new_post_form', user_id=user.id) }}" class="btn btn-primary">Add Post</a>
<a href="{{ url_for('users_edit', user_id=user.id) }}" class="btn btn-secondary">Edit User</a>
<form action="{{ url_for('users_destroy', user_id=user.id) }}" method="POST" style="display:inline;">
  <button class="btn btn-danger">Delete User</button>
</form>
{% endblock %}
